.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.user-panel:before {
  content: " ";
  display: table;
}

.user-panel:after {
  content: " ";
  display: table;
  clear: both;
}

.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.user-panel > .info > p {
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
}

.user-panel > .info > .designation {
  font-size: 13px;
}

