<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-dashboard"></i>Gestion des utilisateurs</h1>
      <p>Liste des utilisateurs</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li><a href="#">Paramètres</a></li>
        <li><a href="#">Utilisateurs</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngFor="let user of users">
      <div class="card">
        <h3 class="card-title">{{user.username}} {{user.lastname}}</h3>
        <p>{{user.job}}</p>
      </div>
    </div>
</div>

