<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-dashboard"></i>Gestion des utilisateurs</h1>
      <p>Liste des utilisateurs</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li><a href="#">Paramètres</a></li>
        <li><a href="#">Utilisateurs</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <app-user-item class="col-md-6" *ngFor="let user of users" [user]="user"></app-user-item>
    <app-user-item class="col-md-6" [user]="newUser"></app-user-item>
  </div>
</div>
