<div class="content">
  <mat-tab-group>
    <mat-tab label="Télécharger">
      <h1>Renommer</h1>
      <mat-list>
        <h3 mat-subheader>Dossiers</h3>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>{{folder.name}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Video</h3>
        <mat-list-item *ngFor="let file of files">
          <mat-icon mat-list-icon>movie</mat-icon>
          <div mat-line>{{file.name}}</div>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Osmc">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
  </mat-tab-group>
</div>
