a {
  color: white;
  opacity: 0.87;
}

h3 {
  background-color: gray;
  opacity: 0.87;
  color: white;
  height: 30px;
}

span {
  display: inline-block;
  white-space: normal;
  max-width: 146px;
  line-height: 20px;
  width: max-content;
  text-align: start;
}
