
li {
  position: relative;
  margin: 0;
  padding: 0;
}

li > a {
  padding: 12px 5px 12px 15px;
  display: block;
  position: relative;
  border-left: 3px solid transparent;
}

li > a > .fa {
  width: 25px;
}

li .label, li .badge {
  margin-top: 3px;
  margin-right: 5px;
}

li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
}

li > a > .fa-angle-right {
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
  padding: 0;
  float: none;
  margin-right: 10px;
  margin-top: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

li.active > a > .fa-angle-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

li.active > .treeview-menu {
  display: block;
}

.treeview-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.treeview-menu .treeview-menu {
  padding-left: 20px;
}

.treeview-menu > li {
  margin: 0;
}

.treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  position: relative;
}

.treeview-menu > li > a > .fa-angle-left, .treeview-menu > li > a > .fa-angle-down {
  width: auto;
}

.treeview-menu > li > a > i:first-of-type {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 50px !important;
    z-index: 840;
  }

  .sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
  }

  .sidebar-mini.sidebar-collapse > li {
    position: relative;
  }

  .sidebar-mini.sidebar-collapse > li > a {
    margin-right: 0;
    position: relative;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .sidebar-mini.sidebar-collapse > li > a > .fa-angle-right {
    display: none;
  }

  .sidebar-mini.sidebar-collapse > li > a > span {
    border-top-right-radius: 4px;
  }

  .sidebar-mini.sidebar-collapse > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
  }

  .sidebar-mini.sidebar-collapse > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }

  .sidebar-mini.sidebar-collapse > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
  }

  .sidebar-mini.sidebar-collapse > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
  }

  .sidebar-mini.sidebar-collapse > li:hover > .treeview-menu {
    top: 45px;
    margin-left: 0;
  }

  .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info {
    display: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .sidebar-mini.sidebar-collapse > li > a > span, .sidebar-mini.sidebar-collapse > li > .treeview-menu, .sidebar-mini.sidebar-collapse > li > a > .pull-right {
    display: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .sidebar-mini.sidebar-collapse li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

li > a {
  color: #555;
}

li > a:hover {
  color: #004893;
}

li:hover > a,
li.active > a {
  color: #004893;
  background: #dfdede;
  border-color: #004893 !important;
}

.treeview-menu {
  margin: 0 1px;
  background: #eeeeee;
}

.treeview-menu > li > a {
  color: #555;
}

.treeview-menu > li > a:hover {
  color: #004893;
}

.treeview-menu > li.active > a {
  color: #FFF;
}
