<h1 mat-dialog-title>Modification de la carte</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput name="url" [formControl]="url" id="inputUrl" placeholder="Url">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput name="description" [formControl]="description" id="inputDescription"
                placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" name="rang" [formControl]="grade" id="inputLastName" placeholder="Rang">
    </mat-form-field>
    <button mat-button (click)="save()" tabindex="2">Enregistrer</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
  </form>
</div>
