.dropdown-toggle {
  color: #FFF;
  display: block;
  padding: 10px;
  line-height: 20px;
}


.not-head {
  padding: 8px 20px;
  text-align: center;
  font-weight: 500;
  background-color: rgba(0, 72, 147, 0.4);
  color: #333;
}

.not-footer {
  text-align: center;
  background-color: #eee;
}
