<a class="dropdown-toggle" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>notifications_none</mat-icon>
</a>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <div class="not-head">
    You have 4 new notifications.
  </div>
  <a mat-menu-item>
                <span class="media-left media-icon">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
    <div class="media-body">
      <span class="block">Lisa sent you a mail</span>
      <span class="text-muted block">2min ago</span>
    </div>
  </a>
  <a mat-menu-item>
                <span class="media-left media-icon">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                    <i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
    <div class="media-body">
      <span class="block">Server Not Working</span>
      <span class="text-muted block">2min ago</span>
    </div>
  </a>
  <a mat-menu-item>
                <span class="media-left media-icon">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
    <div class="media-body">
      <span class="block">Transaction xyz complete</span>
      <span class="text-muted block">2min ago</span>
    </div>
  </a>
  <a class="not-footer" mat-menu-item>
    See all notifications.
  </a>
</mat-menu>
