<mat-card class="col-lg-4 col-md-6 col-sm-12">
  <mat-card-header>
    <div mat-card-avatar>
      <i class="{{item.icon}}"></i>
    </div>
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>{{item.grade}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl class="dl-horizontal">
      <dt>Url :</dt>
      <dd>{{item.url}}</dd>
      <dt>Description :</dt>
      <dd>{{item.description}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" *ngIf="!item.name" (click)="openDialog()">
      <mat-icon>library_add</mat-icon>
    </button>
    <button mat-raised-button color="primary" *ngIf="item.name" (click)="openDialog()">
      <mat-icon>mode_edit</mat-icon>
    </button>
    <button mat-raised-button color="warn" *ngIf="item.name" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
