<div class="col-md-6">
  <div class="card">
    <div class="card-title-w-btn">
      <h3 class="title"><i class="{{item.icon}}"></i> {{item.name}}</h3>
      <span class="label label-default">{{item.grade}}</span>
      <div class="btn-group">
        <a class="btn btn-primary" *ngIf="!item.isEditable"><i class="fa fa-lg fa-plus"></i></a>
        <a class="btn btn-info" *ngIf="!item.isEditable" (click)="editItem()"><i
          class="fa fa-lg fa-edit"></i></a>
        <a class="btn btn-warning" *ngIf="!item.isEditable"><i class="fa fa-lg fa-trash"></i></a>
        <a class="btn btn-primary" *ngIf="item.isEditable" (click)="editItem()"><i
          class="fa fa-lg fa-check"></i></a>
        <a class="btn btn-danger" *ngIf="item.isEditable" (click)="editItem()"><i
          class="fa fa-lg fa-ban"></i></a>
      </div>
    </div>
    <div class="card-body">
      <dl *ngIf="!item.isEditable" class="dl-horizontal">
        <dt>Url :</dt>
        <dd>{{item.url}}</dd>
        <dt>Description :</dt>
        <dd>{{item.description}}</dd>
      </dl>
      <form class="form-horizontal" *ngIf="item.isEditable">
        <fieldset>
          <div class="form-group">
            <label class="col-lg-2 control-label" for="inputUrl">Url :</label>
            <div class="col-lg-10">
              <input class="form-control" name="url" [(ngModel)]="item.url" id="inputUrl"
                     type="text" placeholder="Url">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label" for="inputDesc">Description :</label>
            <div class="col-lg-10">
                  <textarea rows="3" class="form-control" name="desc"
                            [(ngModel)]="item.description" id="inputDesc" type="text"
                            placeholder="Une petite description."></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label" for="inputGrade">Rang :</label>
            <div class="col-lg-10">
              <select class="form-control" name="grade" [(ngModel)]="item.grade" id="inputGrade">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
