<div class="card">
  <div class="card-title-w-btn">
    <h3 class="title">{{user.firstname}} {{user.lastname}}</h3>
    <div class="btn-group">
      <a class="btn btn-primary"><i class="fa fa-lg fa-plus"></i></a>
      <a class="btn btn-info" (click)="openDialog()"><i
        class="fa fa-lg fa-edit"></i></a>
      <a class="btn btn-warning"><i class="fa fa-lg fa-trash"></i></a>
    </div>
  </div>
  <div class="card-body">
    <dl class="dl-horizontal">
      <dt>Login :</dt>
      <dd>{{user.username}}</dd>
      <dt>Métier :</dt>
      <dd>{{user.job}}</dd>
      <dt>Rôle :</dt>
      <dd>{{user.role}}</dd>
    </dl>
  </div>
</div>
