<div class="card">
  <div class="card-title-w-btn">
    <h3 class="title">{{user.firstname}} {{user.lastname}}</h3>
    <div class="btn-group">
      <a class="btn btn-primary" *ngIf="!isEditable"><i class="fa fa-lg fa-plus"></i></a>
      <a class="btn btn-info" *ngIf="!isEditable" (click)="openDialog()"><i
        class="fa fa-lg fa-edit"></i></a>
      <a class="btn btn-warning" *ngIf="!isEditable"><i class="fa fa-lg fa-trash"></i></a>
      <a class="btn btn-primary" *ngIf="isEditable" (click)="save()"><i
        class="fa fa-lg fa-check"></i></a>
      <a class="btn btn-danger" *ngIf="isEditable" (click)="openDialog()"><i
        class="fa fa-lg fa-ban"></i></a>
    </div>
  </div>
  <div class="card-body">
    <dl *ngIf="!isEditable" class="dl-horizontal">
      <dt>Login :</dt>
      <dd>{{user.username}}</dd>
      <dt>Métier :</dt>
      <dd>{{user.job}}</dd>
      <dt>Rôle :</dt>
      <dd>{{user.role}}</dd>
    </dl>
  </div>
</div>
