<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title>{{user.firstname}} {{user.lastname}}</mat-card-title>
    <mat-card-subtitle>{{user.job}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl class="dl-horizontal">
      <dt>Login :</dt>
      <dd>{{user.username}}</dd>
      <dt>Rôle :</dt>
      <dd>{{user.role}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="accent" *ngIf="!user.username" (click)="openDialog()">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-raised-button color="primary" *ngIf="user.username" (click)="openDialog()">
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button mat-raised-button color="warn" *ngIf="user.username" (click)="deleteUser()">
        <mat-icon>delete</mat-icon>
      </button>
  </mat-card-actions>
</mat-card>
