<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-spinner"></i>Page de test</h1>
      <p>Page permettant de tester les composants</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li><a href="#">Page de test</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-12">
              <h1>test-module works!</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            Ici
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
