<mat-card>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choisir une date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let booking of dataSource">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{booking.play}}
        </mat-panel-title>
        <mat-panel-description>
          {{booking.date | date:'fullDate'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{booking.city}}
      <mat-action-row>
        <button mat-button>Click me</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator #paginator
                 [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</mat-card>
