<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-dashboard"></i>Treeview</h1>
      <p>Visualisation de l'arbre</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li><a href="#">Paramètres</a></li>
        <li><a href="#">Treeview</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let item of treeview">
      <div class="card">
        <div class="card-title-w-btn">
          <h3 class="title"><i class="{{item.icon}}"></i> {{item.name}}</h3>
          <div class="btn-group">
            <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-plus"></i></a>
            <a class="btn btn-info" href="#"><i class="fa fa-lg fa-edit"></i></a>
            <a class="btn btn-warning" href="#"><i class="fa fa-lg fa-trash"></i></a>
          </div>
        </div>
        <div class="card-body">
          <b>{{item.url}}</b><br>
          Ici il y aura une description
        </div>
      </div>
    </div>
  </div>
</div>
