.main-header .navbar {
  background-color: #004893;
}

.main-header .navbar .top-nav > li > a {
  color: #FFF;
}

.main-header .navbar .top-nav > li > a:hover, .main-header .navbar .top-nav > li > a:active, .main-header .navbar .top-nav > li > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.main-header .navbar .top-nav .open > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.main-header .navbar .top-nav .open > a:hover, .main-header .navbar .top-nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.main-header .navbar .top-nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.main-header .navbar .sidebar-toggle {
  color: #FFF;
}

.main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background-color: #003c7a;
}

.main-header .logo {
  background-color: #0054ad;
  color: #FFF;
  border-bottom: 0 solid transparent;
}

.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}

.main-header > .navbar {
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  max-height: 50px;
  border-radius: 0;
}

.main-header .sidebar-toggle {
  float: left;
  background: none transparent;
  padding: 11px 15px;
  font-family: fontAwesome;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-height: 50px;
}

.main-header .sidebar-toggle:before {
  content: "\f0c9";
  font-size: 21px;
}

.main-header .sidebar-toggle:focus, .main-header .sidebar-toggle:active {
  background: transparent;
}

.main-header .logo {
  display: block;
  width: 230px;
  height: 50px;
  font-family: 'Arial';
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  font-style: italic;
  text-align: center;
  padding: 0 15px;
  float: left;
  overflow: hidden;
}

.main-header .navbar-brand {
  color: #fff;
}

.main-header .top-nav {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  float: right;
  margin-bottom: 0;
  margin-right: 50px;
}

.main-header .top-nav > li {
  display: inline-block;
  position: relative;
}

.main-header .top-nav > li > a {
  display: block;
  padding: 15px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .main-header {
    position: relative;
  }
  .main-header .logo {
    width: 100%;
    float: none;
  }
  .main-header .navbar {
    width: 100%;
    float: none;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .main-header .top-nav {
    margin-right: 20px;
  }
}

.top-nav > li {
  display: inline-block;
  position: relative;
}
