<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>Calligramme</h1>
  </div>
  <div class="login-box">
    <form class="login-form" #f="ngForm" (ngSubmit)="login(f.value)">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Connexion</h3>
      <div class="form-group" [ngClass]="{'has-error': error}">
        <label class="control-label">Nom d'utilisateur</label>
        <input class="form-control" name="username" ngModel type="text" placeholder="Utilisateur" autofocus>
      </div>
      <div class="form-group" [ngClass]="{'has-error': error}">
        <label class="control-label">Mot de passe</label>
        <input class="form-control" name="password" ngModel type="password" placeholder="Mot de passe">
      </div>
      <div class="form-group">
        <div class="utility">
          <div class="animated-checkbox">
            <label class="semibold-text">
              <input type="checkbox"><span class="label-text">Rester connecter</span>
            </label>
          </div>
          <p class="semibold-text mb-0"><a data-toggle="flip">Mot de passe oublié ?</a></p>
        </div>
      </div>
      <div class="form-group btn-container">
        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>Connexion
        </button>
      </div>
    </form>
    <form class="forget-form" action="index.html">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Mot de passe oublié ?</h3>
      <div class="form-group">
        <label class="control-label">E-mail</label>
        <input class="form-control" type="text" placeholder="E-mail">
      </div>
      <div class="form-group btn-container">
        <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>Réinitialisé</button>
      </div>
      <div class="form-group mt-20">
        <p class="semibold-text mb-0"><a data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i>Retour</a></p>
      </div>
    </form>
  </div>
</section>
