<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>Calligramme</h1>
  </div>
  <div class="login-box">
    <form class="login-form" #f="ngForm" (ngSubmit)="login(f.value)">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Connexion</h3>
      <div class="form-group btn-container">
        <button type="button" (click)="loginWithFacebook()" class="btn btn-primary btn-block">
          <i class="fa fa-sign-in fa-lg fa-fw"></i>
          Facebook
        </button>
      </div>
    </form>
  </div>
</section>
